# === Maven ===
HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

# === Environment Files ===
.env

# === IDEs ===
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Local log files
backend.log
*.log
.env-clean
tree.txt

